body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
	background: #f2f2f2;

}
a{
	text-decoration: none;
	color: black;
}
ul,ol{
	list-style: none;
}
img{
	border: none;
}


/*导航栏*/
	
	header{
		min-width: 1000px;
	}
	header .top_bg {
		height: auto;
	    background: url(../img/topbgny_201612.jpg) center top repeat-x;
	    position: relative;
		}
	header .top_red{
		width: 1000px;
	    height: 45px;
	    margin: 0 auto;
	    position: relative;
	  
	}
	header .top_logo {
	    position: absolute;
	    width: 151px;
	    left: 0px;
	}
	header .top_comm_menu {
	    float: left;
	    width: 67px;
	    height: 45px;
	    margin-left: 154px;
	    padding-left: 11px;
	    padding-right: 15px;
	}
	header .top_comm_menu a {
	    font-family: 微软雅黑;
	    font-size: 16px;
	    display: inline-block;
	    text-align: center;
	    line-height: 45px;
	    color: rgb(255, 236, 236);
	    letter-spacing: 2px;
	    padding: 0px 15px;
	}
	header .top_info_menu {
	    color: #fff;
	    float: right;
	}
	header .top_info_menu .info_mli {
	    float: left;
	    padding-left: 10px;
	    position: relative;
	    height: 44px;
	}
	header .top_info_menu .icon_customer {
	    display: inline-block;
	    background: url(../img/pub_201612.png) no-repeat top left;
	    width: 96px;
	    position: relative;
	    top: 10px;
	    height: 25px;
	    line-height: 25px;
	    font-size: 14px;
	    color: #333333;
	    text-indent: 13px;
	}
	.js_pubtoplogin_div {
	    margin-left: 19px;
	    float: left;
	    line-height: 44px;
	}
	header .top_info_menu .info_mli {
	    float: left;
	    padding-left: 10px;
	    position: relative;
	    height: 44px;
	}
	header .top_info_menu .no_lo_a {
	    color: #d1d0d0;
	    text-decoration: none;
	}
	.info_mli_lore_line {
	    float: left;
	    width: 1px;
	    height: 45px;
	    text-align: center;
	    line-height: 45px;
	    font-size: 12px;
	    font-weight: 100;
	    color: #b86b6b;
	    margin: 0 3px 0 9px;
	}
	header .top_info_menu .info_mli {
	    float: left;
	    padding-left: 10px;
	    position: relative;
	    height: 44px;
	}
	header .top_info_menu .no_lo_a {
	    color: #d1d0d0;
	    text-decoration: none;
	}
	header .top_game_menu {
	    float: left;
	    width: auto;
	    height: 45px;
	}
	header .top_game_menu .menu_li {
	    float: left;
	    position: relative;
	}
	header .top_game_menu .menu_li .menu_li_a {
	    display: inline-block;
	    color: rgb(255, 153, 153);
	    font-size: 14px;
	    cursor: pointer;
	    line-height: 45px;
	    height: 45px;
	    font-family: "Microsoft Yahei", 微软雅黑;
	    padding: 0px 26px 0px 18px;
	}


	.bg {
	    width: 100%;
	    height: 900px;
	    background: url(../img/background.png) no-repeat top center;
	    min-width: 1000px;
	    font-size: 14px;
	}
	.dcon {
	    width: 100%;
	    height: 94px;
	    background: url(../img/searchBoxPic.png) repeat-x;
	}
	.con {
	    margin: 0 auto;
	    overflow: hidden;
	}
	.kf_idx_logo {
	    width: 345px;
	    height: 46px;
	    float: left;
	    margin: 29px 0 0 36px;
	    background: url(../img/kf_idx_logo.png) no-repeat bottom left;
	}
	.kf_idx_right {
	    width: 312px;
	    height: auto;
	    float: right;
	}
	.kf_idx_serach_hjh {
	    width: 312px;
	    height: 32px;
	    margin: 27px 0 0 0;
	    overflow: hidden;
	    zoom: 1;
	}
	.kf_idx_input_hjh {
	    float: left;
	    _display: inline;
	    width: 235px;
	    height: 32px;
	    line-height: 33px;
	    background: url(../img/kf_input_bg_black.png) no-repeat 0px 2px;
	    border: 0px;
	    padding: 0 0 0 12px;
	    color: #cdd8ea;
	}
	.kf_idx_button_hjh {
	    float: left;
	    _display: inline;
	    width: 44px;
	    height: 32px;
	    margin-left: -6px;
	    line-height: 32px;
	    background: url(../img/kf_input_bg_black.png) no-repeat center right;
	    border: 0px;
	    color: #b0b0b0;
	    text-indent: -9999px;
	    cursor: pointer;
	}
	.kf_idx_keyword {
	    width: 303px;
	    height: 26px;
	    padding: 5px 0 0 0;
	}
	.kf_idx_keyword ul li {
	    float: left;
	    margin: 0 10px 0 0;
	    font-size: 12px;
	    color: #b6bfcd;
	}







	.kf_idx_center_hjh {
	    width: 1000px;
	    height: 700px;
	    margin: 0 auto;
	}
	.kf_idx_cet_left_hjh {
	    width: 684px;
	    height: 461px;
	    float: left;
	    padding: 324px 0 0 0;
	}
	.kf_idx_cet_left_top_hjh {
	    height: 207px;
	}
	.kf_idx_cet_left_left {
	    width: 48%;
	    float: left;
	    margin-left: 12px;
	}
	.kf_idx_cet_left_hjh h3 {
	    overflow: hidden;
	}
	.gameServicePic {
	    background: url(../img/littlePic.png) no-repeat;
	    width: 40px;
	    display: block;
	    margin-right: 15px;
	    width: 40px;
	    height: 40px;
	    float: left;
	    margin-right: 15px;
	}
	.kf_idx_cet_left_hjh h3 span {
	    font-size: 20px;
	    font-weight: normal;
	}
	.kf_gameList ul {
	    padding: 25px 0 0 0;
	}
	.kf_gameList ul li {
	    width: 72px;
	    float: left;
	    text-align: center;
	    margin: 0 12px 0 12px;
	}
	.headPicWD {
	    width: 72px;
	    height: 72px;
	    background: url(../img/littlePic.png) no-repeat -108px 0;
	    margin-bottom: 12px;
	    cursor: pointer;
	}
	p {
	    display: block;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	}
	.headPicWDWZ {
	    width: 72px;
	    height: 72px;
	    background: url(../img/littlePic.png) no-repeat -189px 0;
	    margin-bottom: 12px;
	    cursor: pointer;
	}
	.headPicLHZS {
	    width: 72px;
	    height: 72px;
	    background: url(../img/littlePic.png) no-repeat -272px 0;
	    margin-bottom: 12px;
	    cursor: pointer;
	}

	.kf_idx_cet_left_right {
	    width: 48%;
	    float: right;
	    margin-right: 12px;
	}
	.kf_idx_cet_left_hjh h3 {
	    overflow: hidden;
	}
	.gameSecurityPic {
	    background: url(../img/littlePic.png) no-repeat -58px 0;
	    width: 40px;
	    display: block;
	    margin-right: 15px;
	    width: 40px;
	    height: 40px;
	    float: left;
	    margin-right: 15px;
	}
	.kf_idx_cet_left_hjh h3 span {
	    font-size: 20px;
	    font-weight: normal;
	}
	.kf_accountServiceList ul {
	    margin: 14px 0 0 0;
	    height: 84px;
	}
	.kf_accountServiceList ul li {
	    float: left;
	    width: 45%;
	    margin: 9px 0;
	}
	.kf_accountServiceList ul li a {
	    background: url(../img/littlePic.png) no-repeat -11px -78px;
	    padding-left: 20px;
	    font-size: 14px;
	}

	.kf_idx_cet_left_bottom {
	    border-top: 1px #ededed solid;
	    width: 650px;
	    padding-top: 22px;
	    text-align: center;
	}
	.kf_fourBtnBox {
	    width: 24%;
	    float: left;
	}
	.selfService {
	    display: block;
	    background: url(../img/button.png) no-repeat -14px 0;
	    width: 72px;
	    height: 72px;
	    margin: 0 auto 15px;
	}
	.kf_fourBtnBox h4 {
	    font-size: 16px;
	}
	.onlineService {
	    display: block;
	    background: url(../img/button.png) no-repeat -101px 0;
	    width: 72px;
	    height: 72px;
	    margin: 0 auto 15px;
	}
	.phoneService {
	    display: block;
	    background: url(../img/button.png) no-repeat -182px 0px;
	    width: 72px;
	    height: 72px;
	    margin: 0 auto 15px;
	}
	.talkPartty {
	    display: block;
	    background: url(../img/button.png) no-repeat -268px 0;
	    width: 72px;
	    height: 72px;
	    margin: 0 auto 15px;
	}

	.kf_idx_cet_right_hjh {
	    width: 312px;
	    height: 441px;
	    float: right;
	}
	.loginBox_before, .loginBox_after {
	    margin-top: 33px;
	}
	.loginBox_before h4, .loginBox_after h4 {
	    background: url(../img/loginBoxHead.png) repeat-x;
	    padding: 6px 0 6px 20px;
	    font-weight: normal;
	    color: #babfcd;
	    border-radius: 5px 5px 0 0;
	    border-top: 1px #485570 solid;
	}
	.loginBoxBody_before, .loginBoxBody_after {
	    height: 168px;
	    border-top: 1px #485570 solid;
	    background-color: #3f4b66;
	}
	.kf_idx_cet_rit_sign_if_serachico_hjh {
	    width: 40px;
	    height: 35px;
	    margin: 16px auto;
	    background: url(../img/littlePic.png) no-repeat -28px -42px;
	}
	.loginBoxBody_before a {
	    border: 1px #e16f6b solid;
	    font-size: 18px;
	    padding: 9px 0;
	    border-radius: 20px;
	    text-align: center;
	    color: #e16f6b;
	    display: block;
	    width: 196px;
	    margin: 0 auto;
	}
	.loginBox_before h4, .loginBox_after h4 {
	    background: url(../img/loginBoxHead.png) repeat-x;
	    padding: 6px 0 6px 20px;
	    font-weight: normal;
	    color: #babfcd;
	    border-radius: 5px 5px 0 0;
	    border-top: 1px #485570 solid;
	}
	.loginBoxBody_before, .loginBoxBody_after {
	    height: 168px;
	    border-top: 1px #485570 solid;
	    background-color: #3f4b66;
	}
	.loginBox_after p {
	    padding: 0 0 0 40px;
	    color: #b5bacd;
	    overflow: hidden;
	    margin: 10px;
	}
	.kf_report {
	    background: url(../img/littlePic.png) no-repeat -9px -120px;
	    padding-left: 18px;
	    color: #b5bacd;
	}
	.js_Num {
	    color: #e16f6b;
	}
	.afterLoginP a {
	    padding: 5px 8px;
	    background-color: #546384;
	    border-radius: 5px;
	    color: #ced2de;
	    float: right;
	    margin-right: 30px;
	}
	.kfTellYou, .userAdvice {
	    height: 182px;
	    background-color: #f1f5fa;
	    border: 1px #d8e1ee solid;
	}
	.kfTellYou h4 {
	    padding: 12px 0 12px 20px;
	    background-color: #e4eefc;
	    font-weight: normal;
	}
	.userAdvice ul, .kfTellYou ul {
	    margin-left: 22px;
	    border-top: 1px #d8e1ee dashed;
	}
	.kfTellYou ul li {
	    margin: 14px 0;
	}
	.kfTellYou ul li a {
	    background: url(../img/littlePic.png) no-repeat -11px -78px;
	    padding-left: 20px;
	    font-size: 14px;
	}
	.userAdvice h4 {
	    padding: 12px 0 12px 20px;
	    background-color: #e4eefc;
	    font-weight: normal;
	}
	.parentsWatch {
	    border: 1px #b7cec6 solid;
	}







	.floatPF {
	    position: fixed;
	    top: 30%;
	    right: 5%;
	    width: 140px;
	    height: 110px;
	}
	.floatPF_a {
	    display: block;
	    width: 140px;
	    height: 110px;
	    background: url(../img/littlePic.png) no-repeat -346px 0;
	}









	.public_nav_bottom .bottompub_bg {
	    height: 200px;
	    background-color: #fff;
	    text-align: center;
	    line-height: 24px;
	}
	.public_nav_bottom .bottompub {
	    width: 1000px;
	    margin: 0 auto;
	    font-size: 12px;
	    height: 150px;
	    font-family: "Microsoft Yahei","å¾®è½¯é›…é»‘";
	    padding-top: 20px;
	}
	.public_nav_bottom .bottompub_word_p1 {
	    color: #ccc;
	}
	.public_nav_bottom .bottompub_word_p1 a {
	    color: #000000;
	    margin: 0px 18px;
	    text-decoration: none;
	}
	.public_nav_bottom .boycottpub {
	    text-align: center;
	    color: #666666;
	    font-size: 12px;
	}
	.public_nav_bottom .bottompub_word_p2 {
	    color: #666666;
	}
	.public_nav_bottom a {
	    color: #666666;
	}
	.public_nav_bottom .bottompub_img img {
	    border: 0px;
	    margin-top: 18px;
	    margin-right: 15px;
	    display: inline-block;
	}
